language: node_js
sudo: false
node_js:
  - 'stable'
cache:
  directories:
    - node_modules
notifications:
  email: false
before_install:
  - pip install --user codecov
install:
  - npm install
after_success:
  - npm run coveralls
  - codecov